<body class="main_bg">
  <article>
    <h2>Create New Deck</h2>
    <form action="/deck/<%= @deck.id %>/new" method="POST">
      <label for="deck_name">Deck Name:</label>
      <input class="input" name="deck[name]" type="text" value="<%= @deck.name %>" size="30" /><br>
      <label for="deck_img">Deck Image URL:</label>
      <input class="input" name="deck[deck_img]" type="text" value="<%= @deck.deck_img %>" size="30" /><br>
    	<input type="submit" value="save"/>
    </form>
    <form action="/deck/<%= @deck.id %>/card/new" method="POST">
  	  <% if @deck.valid? %>
  	  <%= erb :"card/create_card", :locals => {cards: @deck.cards, add_card: @add_card} %>
  	  <% end %>
    </form>
    <form action`="/deck/<%= @deck.id %>/complete" method="POST">
    	 <input type="submit" value="complete"/>
    </form>
  </article>
</body>


