<body class="alt_bg">
  <article>
    <h2><%= current_user.username %>'s Profile</h2>
    <% if current_user.avatar_src == "" %>
      <p><img class="profile_img" src="http://i.imgur.com/5hbud8l.png?1"></p>
    <% else %>
      <p><img class="profile_img" src="<%= current_user.avatar_src %>"></p>
    <% end %>

    <h3>Stats</h3>
    <hr>
    <% if !current_user.games.empty? %>
      <% @user.games.each do |game| %>
        <h4><%= game.deck.name %></h4>
        <table style="width:90%">
          <tr>
            <th>Date Played</th>
            <th>Cards in Deck</th>
            <th>First Guess Correct</td>
            <th>Total Guesses</th>
          </tr>
          <tr>
            <td><%= game.time %></td>
            <td><%= game.cards_count %></td>
            <td><%= game.first_try_guesses %></td>
            <td><%= game.guesses.count %></td>
          </tr>
        </table>
      <%end%>
    <% else %>
      <p>You currently haven't played any games.<br>
      Check out the list of <a href="/">decks</a> to play.</p>
    <% end %>

    <hr>
    <h3>Your Decks</h3>
    <% if @user_decks.empty? %>
      You currently haven't created any decks.
    <% else %>
      <% @user_decks.each do |deck| %>
          <a href="/deck/<%=deck.id%>"><%= deck.name %></a><br>
      <% end %>
    <% end %>
  </article>
</body>
