<body class="alt_bg">
  <article>
    <h2><%= current_user.username %></h2>
    <% if current_user.avatar_src == "" %>
      <p><img class="profile_img" src="http://i.imgur.com/5hbud8l.png?1"></p>
    <% else %>
      <p><img class="profile_img" src="<%= current_user.avatar_src %>"></p>
    <% end %>
    Email: <%= current_user.email %>
    <% if current_user.games %>
      <br>
      <br>
      <br>
      <div>Your current stats:</div>
      <br>
      <% @user.games.each do |game| %>
        <h2><%= game.deck.name %></h2>
        <table style="width:90%">
          <tr>
            <th>Date Played</th>
            <th>Cards in Deck</th>
            <th>First Guess Correct</td>
            <th>Total Guesses</th>
          </tr>
          <tr>
            <td><%= game.time %></td>
            <td><%= game.cards_count %></td>
            <td><%= game.first_try_guesses %></td>
            <td><%= game.guesses.count %></td>
          </tr>
        </table><br>
      <%end%>
    <% else %>
      <p>You currently haven't played any games!<br>
        Check out the list of <a href="/">decks</a> to play.</p>
    <% end %>
  </article>
</body>
