<div class="container">
  <br>
  <br>
  <div class="username">Here are your stats,&nbsp<%= @user.username %>!</div>
  <br>
  <br>
  <% @user.games.each do |game| %>
    <h2><%= game.deck.name %></h2>
    <table style="width:90%">
      <tr>
        <th>Date Played</th>
        <th>Cards in Deck</th>
        <th>First Guess Correct</td>
        <th>Total Guesses</th>
      </tr>
      <tr>
        <td><%= game.time %></td>
        <td><%= game.cards_count %></td>
        <td><%= game.first_try_guesses %></td>
        <td><%= game.guesses.count %></td>
      </tr>
    </table><br>
  <%end%>
</div>
