  <div class="container">
  	<hr>
  	<h4>Card #<%= "#{index + 1}" %>:</h4>
  <label for="question">Question:</label>
  <input style="border: solid" class="input" name="cards[<%= card_id %>[question]]" type="text" value="<%= card.question %>" size="63" />
  <label for="answer">Answer:</label>
  <input style="border: solid" class="input" name="cards[<%= card_id %>[answer]]" type="text" value="<%= card.answer %>" size="63" />
</div>

