<p>Name of Deck:&nbsp<%= @deck.name %></p>

<p>
  Question:&nbsp<%= @card.question %>
  <form action="/game/<%=@game.id%>/guesses" method="POST">
    <div class="row">
      <label for="guess">Guess:</label><br />
      <input class="input" name="user_answer" type="text" value="" size="30" />
    </div>
    <input type="hidden" name="card_id" value="<%=@card.id%>">
    <input type="submit" value="Submit Answer"/>
  </form>
</p>

<p>Game ID:&nbsp<%= @game.id %></p>
